body {
  margin: 0;
  padding: 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: gray;
  font-size: 62.5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  text-align: center;
  background-image: linear-gradient(to right, rgb(60, 200, 177), rgb(55, 111, 119));
  border: 1px solid black; 
  border-radius: 1rem;
  padding:1rem;
  width: 100%;
  box-sizing:border-box;
  
}
