body {
  margin: 0;
  padding: 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: gray;
  font-size: 62.5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header, .footer {
  text-align: center;
  background-image: linear-gradient(to right, rgb(60, 200, 177), rgb(55, 111, 119));
  border: 1px solid black; 
  border-radius: 1rem;
  padding:1rem;
  width: 100%;
  margin:2px;
  box-sizing:border-box;
  
}

.navbar {
  display:flex;
  justify-content:start flex;
   
}

.nav-link{
  text-decoration: none;
  color: black;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 1rem;
  padding:3px;
  display:inline-block;
  margin:2px;
 
}

.btn {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}

.btn:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.9);
  transform: scale(1.01) translateY(-0.4rem);
  transition: all 0.3s ease;
}

.btn:active {
  outline: none;
  transform: translateY(-1.5px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}


input {
  border-radius: 1rem;
  background-color:gray;
  height:2rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  border:none;
  
}
input::placeholder{
  color: rgb(221, 206, 206);
  text-align: center;
}
input:hover{
  background-color:azure;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.9);
  transform: scale(1.01) translateY(-0.4rem);
  transition: all 0.3s ease;
}





